Errordocument 401 /web/error/error401.php
Errordocument 403 /web/error/error403.php
Errordocument 404 /web/error/error404.php

#RewriteEngine on
#RewriteRule ^(.*)$ index.php?parsedurl=$1 [L,QSA]

#Uncomment following line and modify username if you use UserDir mod
#RewriteBase /~myusername/

<Files .htaccess>
	order allow,deny
	deny from all
</Files>
