.card
  display: block
  box-shadow: 0 0 10px rgba(0,0,0,0.4)
  text-decoration: none
  color: #2C2C2C
  margin-bottom: 30px
  min-height: 435px

  .card_body
    padding: 5px 15px
    position: relative
    top: 0
    bottom: 0

    h3
      margin: 10px 0
      font-size: 1em
      letter-spacing: 1px
      text-transform: uppercase
      a
        color: #2C2C2C
        text-decoration: none

    p
      color: #666
      font-size: 0.9em

    strong
      color: $green


  &:hover
    box-shadow: 0 0 30px rgba(0,0,0,0.7)
    transition: all ease 0.3s
    text-decoration: none
    color: #2C2C2C

  .meal-thumbnail
    background: #000
    position: relative
    overflow: hidden
    height: 200px
    transition: all ease 0.3s

    img
      opacity: 1
      transition: all ease 0.3s

    .card_date
      position: absolute
      bottom: 0
      right: 0
      background: $orange
      color: #fff
      padding: 3px 5px

      p
        margin: 0
        font-size: 0.9em


  &:hover .meal-thumbnail img
    opacity: 0.5
    transform: scale(1.5)
    transition: all ease 0.3s
