.loginbox
  margin-bottom: 60px
  .col-md-5.col-md-offset-1
    border-right: solid 1px #eeeeee
    padding-right: 30px
  h2
    font-size: 1em
    text-transform: uppercase
    letter-spacing: -1px

  input.btn-green
    margin-top: 20px

.retour
  text-align: center
  margin-top: 30px

