.navbar
  background: #A9CE49
  min-height: 0
  border: 0

.nav > li > a
  color: $dark-green
  padding-top: 5px
  padding-bottom: 5px

  &:hover, &:focus
    background: $dark-green
    color: $green
