.navbar
  background: #A9CE49
  min-height: 30px
  border: 0
  z-index: 1000

  ul
    margin: 0
    padding: 0
    list-style: none
    float: right

    li
      float: left
      display: block

      a
        display: block
        position: relative
        padding: 5px 15px
        color: $dark-green
        text-decoration: none
        font-weight: 400
        &:hover, &:focus
          background: $dark-green
          color: $green

.nav > li > a
  color: $dark-green
  padding-top: 5px
  padding-bottom: 5px

  &:hover, &:focus
    background: $dark-green
    color: $green

.nav li.log-out a
  background: white
  color: $green

  &:hover
    background: #CE4949
    color: white

.menu
  ul
    padding: 0
    margin: 0
    list-style: none

    li
      float: left
      display: block

    li > a
      display: block
      position: relative
      padding: 5px 15px
      color: $dark-green
      text-decoration: none
      &:hover, &:focus
        background: $dark-green
        color: $green
